@import 'palette';
@import 'breakpoints';

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,300italic,100italic,100,400italic,500italic,700,900,700italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,600,700);

body{
  margin: 0;
    background: #fafafa;
font-family: 'Raleway', sans-serif;
            font-weight: 500;

}


*{
  user-select: none;
}

noscript{
  height: 100vh;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.progressCircle{

        left: 50%;
        margin-right: -50%;
        top: 10%;
        transform: translate(-50%, -50%)

}


.breadcrumbs{

    margin-top: 20px;
    margin-left: 20px;
    font-size: 120%;
    
    
}


.breadcrumbsIcon{
    position: relative;
    top: 6px;
}

.breadcrumbs a{
      color: #A7A7A7;
       text-decoration:none;   

    }


.subjectStatsCard{
margin-bottom: 30px;
margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    @media screen and (min-width: $small-breakpoint) {
        width: 60%;
        text-align: center;
    }

    @media screen and (min-width: $medium-breakpoint) {
        width: 50%;
        text-align: center;

    }
    @media screen and (max-width: $small-breakpoint) {
        text-align: center;
        width: 90%;
    }

}
.buttonUnitStatsCard{
    margin-bottom: 1%;
    margin-left: 1%
}
.unitStatsCard{
  font-size: 170%;
  margin-bottom: 20px;
    @media screen and (min-width: $small-breakpoint) {
        width: 40%;
        margin-left: 5%;
        margin-right: 5%;
        float: left;
    }
    @media screen and (max-width: $extralarge-breakpoint) {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
}


.unitStatsCardAvatar{
margin-right: 6%;
float: right;
}


.unitCard{
  margin-top:20px;
  margin-bottom: 30px;
  text-align: center;
      @media screen and (min-width: $small-breakpoint) {
        width:70%;
        margin-left: auto;
        margin-right: auto;
      }
}


.statsTab{
    display:inline-block;
        @media screen and (min-width: $extralarge-breakpoint) {

    width: 25%;
        }

            @media screen and (max-width: $extralarge-breakpoint) {
    width: 50%;
    margin-bottom: 6px;

            }
    text-align: center;
        font-weight: 400;
}
.badge{

  background-color: #01579B;
  color: #ffffff;
  height: 25px;
  border-radius: 8px;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 9px;
  margin-right: -12px;
  padding-top:3px;
  width: 100px;
}

.statsTabNumber{
          font-size: 200%;
          color: $primary1Color
}

.wellcomeCard{

    margin-bottom:20px;
}
.subjectCard{
    margin-bottom: 30px;
    

    @media screen and (min-width: $small-breakpoint) {
        width: 40%;
        text-align: center;
        margin-left: 5%;
        margin-right: 5%;
        float: left;

    }
    @media screen and (max-width: $small-breakpoint) {
        text-align: center;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
}

/////ESTILOS DE RatingContainer/////
.boxRating{
    border-radius: 25px;
    border: 2px solid #73AD21;
     margin: 0 auto; 

    width: 50%;
        
    height: 60px;
    font-weight: 600;
}

.boxRatingText{
    float: left;
    width: 50%;
    margin-right: 25%;
    margin-left: 25%;
    margin-top: 20px;
}

.ratingFill{
  border-radius: 23px;
    background-color: #AED581;
    margin: 0px;
    width: 100%;
    height: 100%;
}

///////////////////////

.game-container{

  .main-container{
    
.slides {
  position: relative;
  .slick-prev, .slick-next {
    position: absolute;
    top: 50%;
  }
  .slick-prev {
    left: 5%;
  }
  .slick-next {
    right: 5%;
  }
}
    
    .bx-wrapper .bx-viewport 
{
    -moz-box-shadow: 0;
    -webkit-box-shadow: 0;
    box-shadow: none;
    border: 0;
    left: 0;
    background: #fff;
}
.game-card{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}


.end-card{
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

     h1{
        color: $textColor;

      }
      
     h2{
        color: $textColor;
            font-weight: normal;

      }
      
      
     h3{
        color: $textColor;

      }
          

    box-sizing: border-box;
    height: calc(100vh - 64px);
    display: block;
    overflow: auto;
    padding: 16px;


  }
}


.logo{
  width:90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top:20px;
  margin-bottom: 20px;
}

.userItem{
    text-align:center;
    @media screen and (min-width: $large-breakpoint) {
      color: #FFFFFF
    }
}

.menuExit{

  float:right;
}

.app-container{
  
  .leftbar-container{
    @media screen and (min-width: $large-breakpoint) {
      background-color: $primary2Color!important;

      &>*{
        background-color: $primary2Color!important;
      }
    }

    header{
      text-align: center;
      padding: 16px;

      h1{
        color: $textColor;
        font-size: 1rem;

        @media screen and (min-width: $large-breakpoint) {
          color: $alternateTextColor;
        }
      }
    }

    a{
      text-decoration: none;

      span{
        color: $textColor;
        font-size: 1.2rem;
        @media screen and (min-width: $large-breakpoint) {
          color: $alternateTextColor;
        }
      }

      svg{
        color: $textColor!important;
        fill: $textColor!important;
        font-size: 1.2rem;

        @media screen and (min-width: $large-breakpoint) {
          color: $alternateTextColor!important;
          fill: $alternateTextColor!important;
        }
      }
    }

    svg{
        color: $textColor!important;
        fill: $textColor!important;
        font-size: 1.2rem;

        @media screen and (min-width: $large-breakpoint) {
          color: $alternateTextColor!important;
          fill: $alternateTextColor!important;
        }
      }
      
    span{
        color: $textColor;
        font-size: 1.2rem;

        @media screen and (min-width: $large-breakpoint) {
          color: $alternateTextColor;
        }
      }
      
  }
  .appbar-container{
    @media screen and (min-width: $large-breakpoint) {
      margin-left: 256px!important;
      width: calc(100% - 256px)!important;
    }

  }
  
  .login-appbar-container{

  }

  .imgLogin{
    margin-top: 20px;
              width: 40%;
              margin-left: 30%;
              margin-right: 30%;


  }
  
  .login-card{
        margin-top: 30px;
        padding: 30px;
        text-align: center;
        @media screen and (min-width: $medium-breakpoint) {
              width: 50%;
              margin-left: auto;
              margin-right: auto;

        }
        @media screen and (max-width: $medium-breakpoint) {

              width: 100%;
        }
  }
            
  .main-container{
    
    .historyCard{
      margin-bottom: 30px;
    }
.rating{
  color: $rightColor;

  
    display: block;
      text-align: center;
  
}


.rightSpan{
    color: $rightColor;
}
.errorSpan{
      color: $errorColor;
}
     h1{
        color: $textColor;

      }
      
     h2{
        color: $textColor;
            font-weight: normal;
        @media screen and (min-width: $large-breakpoint) {
          color: $alternateTextColor;
        }
      }
      
      
     h3{
        color: $textColor;
        @media screen and (min-width: $large-breakpoint) {
          color: $alternateTextColor;
        }
      }
          

    box-sizing: border-box;
    height: calc(100vh - 64px);
    display: block;
    overflow: auto;
    padding: 16px;

    @media screen and (min-width: $large-breakpoint) {
      margin-left: 256px;
      width: calc(100% - 256px);
    }
  }
}
